.DS_Store/
.idea/
.vscode/
.vs/
.ansible/inventory/*
/.idea/*

*.pyproj
*.sln

/__pycache__/*

/*.ini
/.env*

/*.session*
logs/*

media/*
static/*

./*.json

!**/tests/fixtures/*.json

*.sqlite3
*.sqlite
*.db
*.sql
*.dump
*.log
*.xlsx
~.lock*
*.txt

.cov/

venv/
/staticfiles/admin/